<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
      <add key="IConnectionClass"
           value="Zoom.Net.YazSharp.Connection, zoom.net.yazsharp" />
      <add key="IConnectionExtendedClass"
           value="Zoom.Net.YazSharp.ConnectionExtended, zoom.net.yazsharp" />
      <add key="IPrefixQueryClass"
           value="Zoom.Net.YazSharp.PrefixQuery, zoom.net.yazsharp" />
      <add key="ICQLQueryClass"
           value="Zoom.Net.YazSharp.CQLQuery, zoom.net.yazsharp" />
  </appSettings>
</configuration>
